.select {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  background: var(--white);
  border-radius: 5px;
  padding: 18px 24px;
  max-width: 200px;
  width: 100%;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  @media (max-width: 576px){
    margin-right: auto;
  }
}

.openSelect {
  .selectedValue {
    img {
      transform: rotate(180deg);
    }
  }
  .menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}

.selectedValue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-size: 14px;
    color: var(--title-color);
  }
  img {
    transition: 0.3s ease-in-out;
    width: 12px;
    flex-shrink: 0;
  }
}

.menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: .3s ease-in-out;
  padding: 16px 24px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  background: var(--white);
  border-radius: 5px;
  position: absolute;
  top: 108%;
  left: 0;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  li {
    font-size: 14px;
    color: var(--title-color);
    cursor: pointer;
  }
}

[data-theme="dark"]{

}
